*/__pycache__/
*/.ipynb_checkpoints/
.vscode/

*DS_store
*pyc
*jpg
*jpg
*png
*avi
*swp
*mp4
*corpus
*acc
*npy
*hdf5
*h5
*log
*tar
*tgz
*rar
*zip
*gz
*jar

log/

sprint/
reports/
specs/
old/

!image/*jpg